<h1>Hello Development Hut</h1>
<!--The button below shows how to show the array-->
<button (click)="getArray()"> Show Array</button>
<!--The button below shows how to create a new element in the array-->
<button (click)="Create()">Create</button>
<!--The button below shows the search functionality-->
<button (click)="Read(10)">Read</button>
<!--The button below updates the array-->
<button (click)="Update01(10,1)">Update</button>
<!--The button below deletes an element in an array-->
<button (click)="Delete(10)">Delete</button>
